<div class="main">
  <div class="row">
    <%= link_to root_path do%>
    	<%= image_tag "aprendizaje.png", class:"card "%>
    <%end%> 
    <%= link_to root_path do%>       
      <%= image_tag "juegos.png", class:"card"%>
    <%end%> 
    <%= link_to root_path do%>
    	<%= image_tag "entre.png", class:"card"%>
    <%end%> 
  </div>
</div>
