<div>
    <%= link_to root_path, class:'back-arrow' do%>       
      <%= image_tag "leftarrow.png", size:'128x128'%>
    <%end%> 
</div>
<div class="container main">
    <div class="row">
        <%= link_to games_game_1_path do%>       
            <%= image_tag "juegos.png", class:"card"%>
        <%end%> 
        <%= link_to juegos_index_path do%>       
          <%= image_tag "juegos.png", class:"card"%>
        <%end%> 
        <%= link_to juegos_index_path do%>       
          <%= image_tag "juegos.png", class:"card"%>
        <%end%> 
    </div>
</div>
